.App {
  width: 100vw;
  height: 100vh;
  background: rgb(105, 9, 9);
}

body {
  margin: 0;
  padding: 0
}

.Sidebar {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 250px;
  background-color: black;
}